* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: hsl(30, 38%, 92%);
    color: hsl(228, 12%, 48%)
}

section.container {
    width: 600px;
    height: 450px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    position: relative;
    overflow: hidden; 
}

section .img {
    width: 300px;
    height: 450px;
    background-image: url(../images/image-product-desktop.jpg);
    background-size: cover;
}

section.container .card {
    position: absolute;
    top: 35px;
    left: 330px;
    right: 33px;
    bottom: 30px;
}

p.title {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

h1.parfum {
    font-family: 'Fraunces', serif;
    font-size: 35px;
    margin-bottom: 20px;
    line-height: 1;
    color: hsl(212, 21%, 14%)
}

p.desc {
    line-height: 1.5;
    margin-bottom: 20px;
}

.prices {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

p.actual-price {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 30px;
    color: hsl(158, 36%, 37%);
    margin-right: 25px;
}

p.former-price {
    font-size: 12px;
    text-decoration: line-through;
}

button {
    width: 235px;
    height: 50px;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border-color: transparent;
    border-radius: 5px;
    font-family: inherit;
    font-weight: 700;
    cursor:pointer;
}

button:hover{
    background-color: hsl(166.7,40%,17.6%);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

button img {
    width: 15px;
    height: auto;
    margin-right: 10px;
}

.attribution {
    margin-top: 1rem;
    color: hsl(158, 36%, 37%);
    text-align: center;
}

.attribution a:link,
a:visited {
    text-decoration: none;
    color: hsl(212, 21%, 14%);
}

.attribution a:hover,
a:active {
    text-decoration: underline;
    color: inherit;
}


@media screen and (max-width: 620px) {
    
    section.container {
        width: 345px;
        height: 610px;
        position: relative;
    }

    section .img {
        width: 345px;
        height: 240px;
        background-image: url(../images/image-product-mobile.jpg);
    }
    
    section.container .card {
        position: relative;
        top: 25px;
        left: 25px;
        margin-right: 50px;
    }
    
    h1.parfum {
        font-size: 32px;
    }
    
    p.desc {
        margin-bottom: 15px;
    }
    
    .prices {
        margin-bottom: 15px;
    }

    button {
        width: 295px;
    }

    .attribution {
        margin-top: 20px;
    }
}

